@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Inconsolata";
    height: 100%;
}
a {
    text-decoration: none;
    color: $accent;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 * Homepage
 */

.image-row {
  display: flex;
  max-width: 50%;
  gap: 1rem;
}

/*
 * Navbar
 */

#author-name {
    font-size: 30px;
    color: #272727;
    display: inline-block;
}
.navbar {
    padding: 50px 0 50px 0;
}
.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px;
}
.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px;
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

/* Contact Form */
.contact-area {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.contact-area:before {
  content: "";
  border: .5px solid #d3d3d3;
  align-self: stretch;
}

form.wj-contact {
  display: flex;
  flex-direction: column;
  width: 100%
}

form.wj-contact input[type="text"] {
  width: 200px;
}

form.wj-contact input[type="text"], form.wj-contact textarea[type="text"] {
  vertical-align: middle;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  padding: 0.75em;
  font-family: Inconsolata, monospace;
  font-weight: lighter;
  border-style: solid;
  border-color: #5198DF;
  outline-color: #5198DF;
  border-width: 1px;
  border-radius: 10px;
  transition: box-shadow .2s ease;
  resize: vertical;
}

form.wj-contact input[type="submit"] {
  outline: none;
  color: white;
  font-family: Inconsolata, monospace;
  background-color: #2e83e6;
  border-radius: 3px;
  padding: 0.5em;
  margin: 1.0em 0 0 0;
  border: 1px solid transparent;
  height: auto;
  align-self: flex-end;
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  flex-direction: column;
  order: -1;
}

.socials > h1 {
  margin: 0;
}

.socials img {
  max-width: 3rem;
}

/* Divs */

.container {
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: 100%;
}

/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
	.navbar {
		text-align: center;
		padding: 50px 0px 0px 0px;
	}
	#author-name {
		width: 100%;
		float: none;
	}
	#navlist {
		padding: 10px 0 10px 0;
		margin: 0;
		display: block;
		float: none;
		text-align: center;
		width: 100%;
	}
	#navlist li.alignable {
		display: inline-block;
	}
	#navlist li.pull-left {
		float: none;
	}
	#navlist li.nav-list {
		margin: 0;
	}
}

@import "typography";
@import "tables";
